.container {
    display: flex;
    flex-direction: column;
    width: 700px;
   
  }
  h1{
    font-size: 80px;
    color:rgb(231, 231, 240);
  }
.card-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
   
  }
  .list-group {
    margin-top: 0;
   
    
  }
  .list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300%;
    border: none; 
    outline: none;
   
  }
  
  .delete-button {
    background: none; 
    border: none; 
    cursor: pointer;
    outline: none;
  }